



  
  #header1{
  
  text-align:center;
  background-color:black;
  color:white;
  padding:10px;

}



   #header2{

    text-align:center;
    background-color:brown;
    padding-bottom:680px;


   }   

   #header3{

 
   text-align:center;
   background-color:brown; 


   }   

