#header1{
background-color:black;
color:white;
text-align:center;
padding:10px;

}

#header2{

background-color:brown;
color:white;
text-align:center;
padding:100px;
}

#header3{

background-color:brown;
color:white;
text-align:center;
padding:100px;

}